/**
 * globals-base.css - DS 全局元素基线。
 * @package @vxture/design-system
 * @layer Presentation
 * @category styles
 * @author AI-Generated
 * @date 2026-05-15
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

button {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
