/* Payment transaction card styles. */

.vx-payment-card__bill {
  margin: 0;
  overflow: hidden;
  color: var(--vx-color-neutral-700);
  font-size: var(--vx-admin-caption-size);
  font-weight: 400;
  line-height: 1.55;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vx-commercial-search {
  width: clamp(
    var(--vx-admin-management-size-13r),
    16vw,
    var(--vx-admin-management-size-20r)
  );
  flex-basis: clamp(
    var(--vx-admin-management-size-13r),
    16vw,
    var(--vx-admin-management-size-20r)
  );
}

.vx-commercial-card__description {
  margin: 0;
  overflow: hidden;
  color: var(--vx-color-neutral-700);
  font-size: var(--vx-admin-caption-size);
  font-weight: 400;
  line-height: 1.55;
  text-overflow: ellipsis;
  white-space: nowrap;
}
