/* Billing transaction card styles. */

.vx-billing-card__plan {
  margin: 0;
  overflow: hidden;
  color: var(--vx-color-neutral-700);
  font-size: var(--vx-admin-caption-size);
  font-weight: 400;
  line-height: 1.55;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vx-invoice-card__bill {
  margin: 0;
  overflow: hidden;
  color: var(--vx-color-neutral-700);
  font-size: var(--vx-admin-caption-size);
  font-weight: 400;
  line-height: 1.55;
  text-overflow: ellipsis;
  white-space: nowrap;
}
